.contanier h2 {
  color: brown;
  text-align: center;
  background:rgb(190, 190, 226);
} 

.contanier{
  display: flex;
 justify-content: space-between;
/* justify-content: center;  */
flex-direction: column; 
width: 100px;
height: 1000x;  
}

